---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogEntries = await getCollection("blog");
console.log(blogEntries);
---

<Layout title="Blog">
  <section class="container">
    <h1>Blog</h1>
  </section>
</Layout>
