---
import Layout from "@/layouts/Layout.astro";
import Config from "@/config/config.json";
import Button from "@/components/ui/Button.astro";
---

<Layout title="Home">
  <section class="hero">
    <div
      class="container grid lg:grid-cols-2 gap-8"
      aria-labelledby="hero-title"
    >
      <div>
        <h1
          id="hero-title"
          class="mb-8 font-semibold text-balance text-3xl md:text-5xl leading-tight"
        >
          {Config.hero.title}
        </h1>
        <p class="text-lg mb-10 text-pretty">
          {Config.hero.description}
        </p>
        <Button
          size="lg"
          className="shadow-primaryBtnShadow dark:shadow-primaryBtnShadow-dark"
          >{Config.hero.button.label}</Button
        >
      </div>
      <div class="flex justify-center items-center">Image</div>
    </div>
  </section>
</Layout>
