---
import { cn } from "@/lib/utils";
import { button } from "./ui/Button.astro";
---

<a
  href="#main-content"
  class={cn(
    button({ variant: "default", size: "sm" }),
    "opacity-0 absolute z-[999] top-3 left-2 transition-opacity duration-200 focus:opacity-100"
  )}
>
  Skip to main content
</a>
